#dash-config {
    font-family: Georgia;
    color: blue;
    border: red;
    border-style: dotted;
    width: fit-content;
    padding: 30px;
}

#pipe-config {
    font-family: Georgia;
    color: blue;
    border: red;
    border-style: dotted;
    width: fit-content;
    padding: 30px;
}



li:hover {
    background-color: darkgrey;
    color: red;
}

h2 {
    background-color: yellow;
}

h3:hover {
    background-color: darkgrey;
    color: red;
}


